<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Análisis de Sesiones Empática E4</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <!-- Incluyendo Chart.js y el plugin de anotación -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>Análisis de Sesiones en formato CSV de Pulsera Empática E4</h1>
        <h2>Subir Archivos CSV</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'procesar_archivos' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subir</button>
        </form>
    </div>
    
    <div class="container">
        {% if promedio_temperatura %}
        <div class="card">
            <h2>Análisis de Temperatura</h2>
            <p>Promedio de Temperatura: {{ promedio_temperatura }} °C</p>
            <p>Mediana de Temperatura: {{ mediana_temperatura }} °C</p>
            <p>Temperatura Máxima: {{ max_temperatura }} °C</p>
            <p>Temperatura Mínima: {{ min_temperatura }} °C</p>
            <p>{{ resumen_temperatura }}</p>
            <canvas id="graficoTemperatura"></canvas>
            <script>
                var ctx = document.getElementById('graficoTemperatura').getContext('2d');
                var graficoTemperatura = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Array.from({ length: {{ temperatura_data|length }} }, (_, i) => i + 1),
                        datasets: [{
                            label: 'Temperatura (°C)',
                            data: {{ temperatura_data }},
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        {% endif %}
    
        {% if promedio_frecuenciaCardiaca %}
        <div class="card">
            <h2>Análisis de Frecuencia Cardíaca</h2>
            <p>Promedio de Frecuencia Cardíaca: {{ promedio_frecuenciaCardiaca }} ppm</p>
            <p>Mediana de Frecuencia Cardíaca: {{ mediana_frecuenciaCardiaca }} ppm</p>
            <p>Frecuencia Cardíaca Máxima: {{ max_frecuenciaCardiaca }} ppm</p>
            <p>Frecuencia Cardíaca Mínima: {{ min_frecuenciaCardiaca }} ppm</p>
            <p>{{ resumen_frecuenciaCardiaca }}</p>
            <canvas id="graficoFrecuenciaCardiaca"></canvas>
            <script>
                var ctx = document.getElementById('graficoFrecuenciaCardiaca').getContext('2d');
                var graficoFrecuenciaCardiaca = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Array.from({ length: {{ frecuenciaCardiaca_data|length }} }, (_, i) => i + 1),
                        datasets: [{
                            label: 'Frecuencia Cardíaca (ppm)',
                            data: {{ frecuenciaCardiaca_data }},
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        {% endif %}
    
        {% if promedio_bvp %}
        <div class="card">
            <h2>Análisis de BVP</h2>
            <p>Promedio de BVP: {{ promedio_bvp }}</p>
            <p>Mediana de BVP: {{ mediana_bvp }}</p>
            <p>BVP Máximo: {{ max_bvp }}</p>
            <p>BVP Mínimo: {{ min_bvp }}</p>
            <p>{{ resumen_bvp }}</p>
            <canvas id="graficoBVP"></canvas>
            <script>
                var ctx = document.getElementById('graficoBVP').getContext('2d');
                var graficoBVP = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Array.from({ length: {{ bvp_data|length }} }, (_, i) => i + 1),
                        datasets: [{
                            label: 'BVP',
                            data: {{ bvp_data }},
                            borderColor: 'rgba(153, 102, 255, 1)',
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        {% endif %}
    
        {% if promedio_ibi %}
        <div class="card">
            <h2>Análisis de IBI</h2>
            <p>Promedio de IBI: {{ promedio_ibi }} ms</p>
            <p>Mediana de IBI: {{ mediana_ibi }} ms</p>
            <p>IBI Máximo: {{ max_ibi }} ms</p>
            <p>IBI Mínimo: {{ min_ibi }} ms</p>
            <p>{{ resumen_ibi }}</p>
            <canvas id="graficoIBI"></canvas>
            <script>
                var ctx = document.getElementById('graficoIBI').getContext('2d');
                var graficoIBI = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Array.from({ length: {{ ibi_data|length }} }, (_, i) => i + 1),
                        datasets: [{
                            label: 'IBI (ms)',
                            data: {{ ibi_data }},
                            borderColor: 'rgba(255, 159, 64, 1)',
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        {% endif %}
    
        {% if promedio_eda %}
        <div class="card">
            <h2>Análisis de EDA</h2>
            <p>Promedio de EDA: {{ promedio_eda }}</p>
            <p>Mediana de EDA: {{ mediana_eda }}</p>
            <p>EDA Máxima: {{ max_eda }}</p>
            <p>EDA Mínima: {{ min_eda }}</p>
            <p>{{ resumen_eda }}</p>
            <canvas id="graficoEDA"></canvas>
            <script>
                var ctx = document.getElementById('graficoEDA').getContext('2d');
                var graficoEDA = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Array.from({ length: {{ eda_data|length }} }, (_, i) => i + 1),
                        datasets: [{
                            label: 'EDA',
                            data: {{ eda_data }},
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        {% endif %}
    
        {% if promedio_x %}
        <div class="card">
            <h2>Análisis del Acelerómetro</h2>
            <p>Promedio de Aceleración X: {{ promedio_x }} g</p>
            <p>Promedio de Aceleración Y: {{ promedio_y }} g</p>
            <p>Promedio de Aceleración Z: {{ promedio_z }} g</p>
            <p>Mediana de Aceleración X: {{ mediana_x }} g</p>
            <p>Mediana de Aceleración Y: {{ mediana_y }} g</p>
            <p>Mediana de Aceleración Z: {{ mediana_z }} g</p>
            <p>Aceleración Máxima X: {{ max_x }} g</p>
            <p>Aceleración Máxima Y: {{ max_y }} g</p>
            <p>Aceleración Máxima Z: {{ max_z }} g</p>
            <p>Aceleración Mínima X: {{ min_x }} g</p>
            <p>Aceleración Mínima Y: {{ min_y }} g</p>
            <p>Aceleración Mínima Z: {{ min_z }} g</p>
            <p>{{ resumen_acc }}</p>
            <canvas id="graficoAcelerometro"></canvas>
            <script>
                var ctx = document.getElementById('graficoAcelerometro').getContext('2d');
                var graficoAcelerometro = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Array.from({ length: {{ promedio_x|length }} }, (_, i) => i + 1),
                        datasets: [{
                            label: 'Aceleración X (g)',
                            data: {{ promedio_x }},
                            borderColor: 'rgba(255, 206, 86, 1)',
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                            borderWidth: 1
                        }, {
                            label: 'Aceleración Y (g)',
                            data: {{ promedio_y }},
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderWidth: 1
                        }, {
                            label: 'Aceleración Z (g)',
                            data: {{ promedio_z }},
                            borderColor: 'rgba(153, 102, 255, 1)',
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        {% endif %}
    </div>
</body>
</html>
